<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

    <ul class="nav nav-pills mt-10">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Action 2</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
    </ul>

    <div class="container">
        <div class="col-md-6" >
            <table class="table table-responsive table-bordered" >
                <thead>
                    <tr>
                        <th>Nom Employée</th>
                        <th>Prenom Employée</th>
                        <th>Email Employée</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>OUEDRAOGO</td>
                        <td>Fatao</td>
                        <td>fatao@gmail.com</td>

                    </tr>
                    <tr>
                        <td>OUEDRAOGO</td>
                        <td>Ibrahim</td>
                        <td>fatao@gmail.com</td>

                    </tr>
                    <tr>
                        <td>OUEDRAOGO</td>
                        <td>Mamadi</td>
                        <td>fatao@gmail.com</td>

                    </tr>
                    <tr>
                        <td>OUEDRAOGO</td>
                        <td>Amadé</td>
                        <td>fatao@gmail.com</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</body>
</html>