<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

    <ul class="nav nav-pills mt-10">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Accueil</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Projet</a></li>
                <li><a class="dropdown-item" href="#">En cours</a></li>
                <li><a class="dropdown-item" href="#">Terminé</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Suspendus</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Apropos</a>
        </li>
    </ul>

    <div class="container mt-5">
        <div class="col-md-6" >
            <table class="table table-responsive table-bordered" >
                <thead>
                    <tr>
                         <th>Nom d'utilisateur</th>
                        <th>Email d'utilisateur</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user:${users}">
                        <td th:text="${user.userName}" ></td>
                        <td th:text="${user.email}"></td>
                        <td>
                            <a class="btn btn-primary" th:if="${user.role}=='ADMIN'" >UPDATE</a>
                            <a class="btn btn-danger" th:if="${user.role}=='ADMIN'" >Delete</a>
                            <a class="btn btn-primary" th:unless="${user.role}=='ADMIN'" >Voir</a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</body>
</html>