<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="~{ base :: Layout(~{::title},~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Save Page</title>

</head>
<body>

<section>
    <div class="container" >
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center">
                        <p class="fs-4">Ajouter Employé</p>
                        <th:block th:if="${session.msg}" >
                            <p class="text-center text-success fs-4 fw-bold " > [[${session.msg}]] </p>
                            <th:block th:text="${@empServiceImp1.removeSessionMessage()}" > </th:block>
                        </th:block>

                    </div>
                    <div class="card-body">
                        <form action="saveEmp" method="post">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingName" placeholder="Nom complet" name="name">
                                <label for="floatingName">Nom complet</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingEmail" placeholder="nom@example.com" name="email">
                                <label for="floatingEmail">Email</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingAdress" placeholder="Quartier/Ville/Pays" name="adresse">
                                <label for="floatingAdress">Adresse</label>
                            </div>

                            <div class="form-check mb-3">
                                <label class="form-check-label"  >Sexe</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sexe" id="inlineRadio1" value="Homme">
                                    <label class="form-check-label" for="inlineRadio1">Homme</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sexe" id="inlineRadio2" value="Femme">
                                    <label class="form-check-label" for="inlineRadio2">Femme</label>
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Mot de pass" name="password">
                                <label for="floatingPassword">Mot de passe</label>
                            </div>

                            <button class="btn btn-success w-100 py-2" type="submit">Ajouter</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>